@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --corfundo: #b4b5c92c;
    --cor01: #5A678B;
    --cor02: #818AA5;
    --cor03: #ACB2C3;
    --cor04: #D7D9E1;
    --cor05: #F7F8F8;
    --corMenu: #0b0e42;

    --fontPadrao: 'Indie Flower', cursive;
    --fontMenu: 'Merriweather', serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to bottom, lightgray, gray);
}
header{
    background: var(--cor02); 
    min-height: 150px;
    text-align: center;
    font-size: 2vw;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.364);
}
header > h1 {
    color: var(--corMenu);
    font-family: var(--fontPadrao);
    font-weight: bold;
    text-align: center;
    padding: 20px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.566);
}
nav{
    padding: 10px;
}
 nav > a{
    color: var(--cor05);
    font-family: var(--fontMenu);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .8s;
 }

 nav > a:hover{
    background-color: var(--corMenu);
    color: var(--cor04);
 }

 main{
    background-color: var(--cor03);
    font-family: var(--fontPadrao);
    font-size: 1.5em;
    min-width: 300px;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);
}
section{
    padding: 40px 0px 40px 0px;
}
/*section.imagem{
    height: 700px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.303);
    background-image: url(../imagens/grid.png);
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}*/
section.imagem > h1{
    text-align: center;
}

section.herois{
    background-size: 200vh;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    
}
section#arqueiro{
    background-image: url(../imagens/arquiro_fundo.png);
}
section#clerigo{
    background-image: url(../imagens/clerigo_fundo.png);
}
section#pirata{
    background-image: url(../imagens/pirata_fundo.png);
}
section ul{
    padding-left: 30px;
}
 footer{
    background-color: var(--cor02);
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;

 }