@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


:root{
    --corfundo: #b4b5c9;
    --cor01: #0C1833;
    --cor02: #1C2949;
    --cor03: #2C3957;
    --cor04: #435171;
    --cor05: #626F8B;

    --fontPadrao: 'Indie Flower', cursive;
    
}